@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,500&display=swap");
/* Universal Selector */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  text-decoration: none;
  list-style-type: none;
  font-family: 'Poppins', sans-serif;
  /* background-color:#BADDFD; */

}

/* Child Selector */
/* div .App{
 
} */
